body
{
    background-color: #2E4393;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header, footer
{
    background-color: #25305F;
    text-align: center;
    font-size: 200%;
    width: 70%;
}

.main
{
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 490px;
}

.left, .right
{
    height: 750px;
    width: 10%;
}

.middle
{
    height: 500px;
    width: 70%;
    margin-left: -60%;
    margin-right: -60%;
}

.left
{
    margin-left: -30%;
}


.right
{
    margin-right: -30%;
}

.right:hover, .left:hover
{
    color: white;
    cursor: pointer;
}

.left, .right, .middle
{
    background-color: #B01846;
    text-align: center;
    font-size: 200%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer:hover
{
    color: cyan;
    cursor: pointer;
}
